{% load static %} {% include 'adminpanel/sidebar.html' %}
<link rel="stylesheet" href="{% static 'css/admin-panel/admin-panel.css' %}" />
<link rel="stylesheet" href="{% static 'css/admin-panel/orders.css' %}" />
<link rel="stylesheet" href="{% static 'css/admin-panel/department.css' %}" />

<script src="{% static 'js/admin-panel/adminTableHome.js' %}" defer></script>

<!-- search content start -->
<div class="main____search________content">
  <div class="search_____content me-1 mt-2">
    <form>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search here....."
          aria-label=""
          aria-describedby="basic-addon1"
          onkeyup="matchName(this)"
        />
        <div class="input-group-prepend">
          <button class="btn search_____btn" type="button">Search</button>
        </div>
      </div>
    </form>
  </div>
  <div class="me-1 mt-2 d-flex">
    <!-- Example split danger button -->
    <div class="btn-group">
      <a href="{% url 'create-table' shop_id.id %}"  class="btn new____dept text-white">
        New Table
      </a>
      <button
        type="button"
        class="btn dropdown-toggle dropdown-toggle-split new____dept"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu new____dept">
        <li><a class="dropdown-item text-white" href="{% url 'create-product' shop_id.id %}">New Item</a></li>
        <li><a class="dropdown-item text-white" href="{% url 'create-category' shop_id.id %}">New Category</a></li>
        <li><a class="dropdown-item text-white" href="{% url 'create-brand' shop_id.id %}">New Brand</a></li>
        {% comment %} <li><a class="dropdown-item text-white" href="{% url 'create-department' %}">New Department</a></li> {% endcomment %}
        {% comment %} <li><a class="dropdown-item text-white" href="#">Delete All Products</a></li> {% endcomment %}
      </ul>
    </div>
  </div>
</div>
<!-- search content end -->

<!-- department table start -->
<div class="main____dept____table table-responsive">
  <table class="table">
    <thead class="table_____head">
      <tr>
        <th scope="col">Table Name</th>
        <th scope="col">Is Active</th>
        <th scope="col">Waiter</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="allTable__table">
    {% for table in all_tables %}
      <tr>
        <td><a href="{% url 'edit-table' shop_id.id table.id %}" class="w-100 d-flex text-dark">{{ table.table_name }}</a></td>
        <td><a href="{% url 'edit-table' shop_id.id table.id %}" class="w-100 d-flex text-dark">
          {% if table.is_active %}
            <span class="iconify fs-5" data-icon="teenyicons:tick-circle-solid" style="color: #4ec274;"></span>
          {% else %}
            <span class="iconify fs-4 text-danger" data-icon="entypo:circle-with-cross" style="color: #4ec274;"></span>
          {% endif %}
        </a></td>
        <td><a href="{% url 'edit-table' shop_id.id table.id %}" class="w-100 d-flex text-dark">{{ table.waiter.emp_username }}</a></td>
        <td>
          <form method="POST" action="{% url 'admin-delete-table' shop_id.id table.id %}">{% csrf_token %}
            <div class="d-flex justify-content-end">
              <button type="submit" class="border-0 bg-white">
                <span style="cursor: pointer" class="iconify text-danger fs-5" data-icon="carbon:close"></span>
              </button>
            </div>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<!-- department table end -->
