{% load static %}
{% include 'mailView/base.html' %}

<body style="background-color: #f3f3f3;">

    <div class="container">
        <div class="main-card">

            <div class="col-md-8 m-auto d-block email-template p-4" style="background-color: #fff;">
                <div class="email-template">

                    <div class="logo-area text-center">
                        <h2 style="font-family: 'Lobster', cursive;
                        margin-bottom: 30px;">ITNA SOFT</h2>
                    </div>

                  

                    <div class="confirm-email" style="text-align: center;
                    margin-top: 40px;">
                        
                        
                        <p style="font-weight: 500;">YOU HAVE AN ORDER TO CHECK!
                            DELIVER THE ORDER ASAP </p>
                    </div>

                   

                    <div class="support-area" style="text-align: left;">

                        <div class="address" style="text-align: left;">
                            <h6 class="text-center mt-5" style="font-size: 25px;
                            font-weight: 500;
                            margin-bottom: 15px;">Address:</h6>
                            <p> <span style="font-size: 15px;
                                font-weight: 500;">United Kingdom Office:</span> IGL located at 2 Frederick Street, Kings Cross, London, United Kingdom, WC1X 0ND </p>
                            <p> <span> Bangladesh Office:</span>  Itna Global Limited, House 24, Road,1, Nikunja2, Dhaka 1229, Khilkhet, </p>
                        </div>
                    </div>

                    <div class="copy-right" style="text-align: center;">
                        <p style="font-size: 12px;
                        font-weight: 500;">Copyright © 2021 Itna Global Ltd. All rights reserved.</p>
                    </div>


                </div>
            </div>
            
        </div>
    </div>